body {
    background-size: cover;
    padding: 40px;
    

    .container {
        padding: 10px;
        

        #loginform {
            
            width: 300px;
            margin: 0;
          
        }
    }
    
    
}





